<div class="login">
  <div class="login-form">
    <div class="login-form__header">Login</div>

    <div class="login-form__content" [formGroup]="loginForm">
      <div class="login-form__block">
        <label for="email" class="login-form__block-label">E-mail:</label>
        <input type="email"
               id="email"
               class="login-form__block-input email"
               placeholder="Enter e-mail"
               formControlName="email"
               [class.invalid]="loginForm.get('email').dirty && loginForm.get('email').invalid">
        <p *ngIf="loginForm.get('email').dirty && loginForm.get('email').hasError('required')"
              class="error">
          Email is required
        </p>
      </div>
      <div class="login-form__block">
        <label for="password" class="login-form__block-label">Password:</label>
        <input type="password"
               id="password"
               class="login-form__block-input password"
               placeholder="Enter password"
               formControlName="password"
               [class.invalid]="loginForm.get('password').dirty && loginForm.get('password').hasError('required')">
        <p *ngIf="loginForm.get('password').dirty && loginForm.get('password').hasError('required')"
              class="error">
          Password is required
        </p>
      </div>
    </div>

    <div class="login-form__footer">
      <div class="login-form__forgot">Forgot password?</div>
      <button class="login-form__login-btn"
              [disabled]="loginForm.invalid"
              (click)="login()">
        Login
      </button>
    </div>
  </div>
</div>
<app-loading-page *ngIf="isLoading$ | async"></app-loading-page>
