@import "../../../../assets/styles/variables";

.breadcrumbs {
  display: flex;
  align-items: center;
  height: 70px;

  &-block {
    display: flex;
    align-items: center;
  }

  &__item {
    font-weight: bold;
    color: $color-grey-80;
    border: none;
    outline: none;
  }

  .pointer {
    cursor: pointer;
  }
}
