@import "../../../../../assets/styles/variables";

.search {
  display: flex;
  align-items: center;
  padding: 30px 0;

  &-block {
    display: flex;
    height: 30px;
    margin-right: 10px;
    padding: 10px;
    background: $color-white-100;

    &__icon {
      display: flex;
      align-items: center;
      margin-right: 5px;
      font-size: 24px;
      color: $color-grey-60;
    }

    &__input {
      width: 250px;
      height: 32px;
      font-size: 14px;
      line-height: 32px;
      color: $color-grey-60;
      box-sizing: border-box;
      border: none;
      outline: none;

      &::placeholder {
        opacity: 0.3;
      }
    }
  }
}
