<div class="courses">
  <div class="container">
    <div class="courses-block">
      <app-search *ngIf="!currentlyChangeCourse" (searchQuery)="search($event)"></app-search>

      <div class="courses__add-block">
        <div class="add-course-button" routerLink="./new">
          <span class="material-icons add-course-button__icon">add</span>
          Add course
        </div>
      </div>

      <app-courses-list [courses]="courses$ | async"
                        (delete)="deleteCourse($event)"
                        (edit)="editCourse($event)"
                        (loadMore)="loadMore()">
      </app-courses-list>

      <app-loading-page *ngIf="!(courses$ | async)"></app-loading-page>
    </div>
  </div>
</div>
