$color-main-green: #92d90e;
$color-main-blue: #04bbd2;
$color-main-dark-blue: #1f293b;

$color-white-100: #ffffff;
$color-black-100: #000000;

$color-grey-80: #4e4f50;
$color-grey-70: #515050;
$color-grey-60: #6d6e6e;
$color-grey-40: #989797;
$color-grey-20: #cbc9c9;
$color-grey-10: #f0f0f6;

$color-link: #0479d2;
$color-gold: #ffbf00;

$color-error: #ff1414;
