@import "src/assets/styles/variables";

.course {
  min-height: calc(100vh - 200px);

  &__block {
    margin-bottom: 10px;
  }

  &__title {

    &-input {
      padding-left: 10px;
      width: calc(100% - 10px);
      height: 30px;
      outline: none;
    }
  }

  &__description {

    &-input {
      padding: 10px 0 10px 10px;
      width: calc(100% - 10px);
      height: 100px;
      outline: none;
    }
  }

  &__duration-value {
    margin-left: 5px;
  }

  &__actions {
    display: flex;
    align-items: center;
    margin: 30px 0 20px;
  }

  &__save {
    margin-right: 15px;
    color: $color-white-100;
    background: $color-main-green;

    &:disabled {
      color: $color-white-100;
      background: $color-grey-20;
      cursor: not-allowed;
    }
  }

  &__cancel {
    color: $color-white-100;
    background: $color-main-blue;
  }

  .invalid {
    border: 2px solid $color-error;
  }

  .error {
    margin-top: 3px;
    font-size: 12px;
    color: $color-error;
  }
}

.course__title-header,
.course__description-header,
.course__date-header,
.course__duration-header,
.course__authors-header {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: 0.8px;
}
